/* static/css/app.css */

body {
    padding-top: 5rem;
}

.profile-card {
  background: linear-gradient(to bottom, #3498db 50%, #ffffff 50%); /* Gradient background with blue and white */
  color: #000; 
  border-radius: 10px;
  padding: 0px;
  text-align: center;
  max-width: 500px;
  margin: 20px auto;
  height: 700px;
  border: 2px solid grey;
}

.profile-pic {
  width: 150px;
  border-radius: 50%;
}

.text-info {
  margin-left: 20px;
  text-align: center;
  color: white;
}

.username {
  font-weight: bold;
}

.bio {
  margin-top: 60px;
  margin-left: 10px;
  margin-right: 10px;
}

.profile-stats {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.follow-button {
  background-color: #3498db; /* Customize with your preferred color */
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 50px;
}
